<template lang="jade">
h1 buntpapier
form
	bunt-input(name="an-input", label="ein lustiges Eingabefeld")
	bunt-input(name="an-input", label="gib mir eine nummer, du Arsch", type="number")
	bunt-input(name="an-input", label="Passwort!", type="password")

	bunt-button(@click.prevent) CLICK ME
</template>
<script>
import './styles/style.styl'
export default {
	el: '#app',
	components: {},
	replace: false
}
</script>
<style lang="stylus">
@import '~_ui'
#app
	margin 5rem auto
	padding 2rem
	width 45rem
	card()
form
	width 45rem
</style>
